<!-- Faq Section -->
<section
  class="faqSec {{sectionOrder}}"
  id="faq"
>
  <div class="container" style="position: relative;">
    <div class="sTitleBox txtCenter">
      <h4 class="sTitleS">FAQs</h4>
      <p class="sSubTitleL colorRose">You’ve got Q’s. We’ve got A’s.</p>
    </div>
    <div class="faqBox">
      <div class="faqCard">
        <div class="faqQ">
          <h5>How do I know which size to order?</h5>
          <img data-swift-lazy="1" loading="lazy" class="faqArrow" src="https://cdn.shopify.com/s/files/1/0056/8439/6096/files/arrowDown.svg?v=1615505203" alt="arrow down icon" />
        </div>
        <div class="faqA">
          <div class="faqABox">
            <p>
              Take our <a href="https://www.pillowcube.com/pages/quiz" class="linkUnderline">SIZING QUIZ</a> to find the perfect fit for you! If you need further assistance, reach out to our support specialists at support@pillowcube.com.
            </p>
            <div class="videoLink" style="margin-top: 20px;">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/MF4c6nq_VEM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="faqCard">
        <div class="faqQ">
          <h5>“What if I sleep on my back?”</h5>
          <img data-swift-lazy="1" loading="lazy" class="faqArrow" src="https://cdn.shopify.com/s/files/1/0056/8439/6096/files/arrowDown.svg?v=1615505203" alt="arrow down icon" />
        </div>
        <div class="faqA">
          <div class="faqABox">
            <p>
              While the Pillow Cube was specifically designed for side sleepers, we have heard from some side/back sleepers that they enjoy the pillow too! But all in all, the pillow is intended for side sleepers.

            </p>
          </div>
        </div>
      </div>
      <div class="faqCard">
        <div class="faqQ">
          <h5>Where do you ship to?</h5>
          <img data-swift-lazy="1" loading="lazy" class="faqArrow" src="https://cdn.shopify.com/s/files/1/0056/8439/6096/files/arrowDown.svg?v=1615505203" alt="arrow down icon" />
        </div>
        <div class="faqA">
          <div class="faqABox">
            <p>
              We currently ship within the United States.

            </p>
          </div>
        </div>
      </div>
      <div class="faqCard">
        <div class="faqQ">
          <h5>What is in the foam?</h5>
          <img data-swift-lazy="1" loading="lazy" class="faqArrow" src="https://cdn.shopify.com/s/files/1/0056/8439/6096/files/arrowDown.svg?v=1615505203" alt="arrow down icon" />
        </div>
        <div class="faqA">
          <div class="faqABox">
            <p>
              Our high-quality foam is made of breathable, viscoelastic polyurethane.

            </p>
          </div>
        </div>
      </div>
      <div class="faqCard">
        <div class="faqQ">
          <h5>What is the pillowcase made from?</h5>
          <img data-swift-lazy="1" loading="lazy" class="faqArrow" src="https://cdn.shopify.com/s/files/1/0056/8439/6096/files/arrowDown.svg?v=1615505203" alt="arrow down icon" />
        </div>
        <div class="faqA">
          <div class="faqABox">
            <p>
              The pillowcase is made out of polyester and spandex.

            </p>
          </div>
        </div>
      </div>
      <div class="faqCard">
        <div class="faqQ">
          <h5>What is the cover made from?</h5>
          <img data-swift-lazy="1" loading="lazy" class="faqArrow" src="https://cdn.shopify.com/s/files/1/0056/8439/6096/files/arrowDown.svg?v=1615505203" alt="arrow down icon" />
        </div>
        <div class="faqA">
          <div class="faqABox">
            <p>
              Our quilted cover is made from polyester.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <a href="/pages/faq" class="btn btnIndigo">SEE ALL FAQS</a>
    </div>
  </div>
</section>